[Unit]
Description=Stop Docker on sleep
Before=sleep.target
PartOf=sleep.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'docker stop $(docker ps -q) 2>/dev/null; systemctl stop docker.socket docker'
TimeoutStartSec=300
ExecStop=systemctl start docker

[Install]
WantedBy=sleep.target
