[Unit]
Description=Rebind HDMI DCP on resume from suspend
Before=sleep.target
PartOf=sleep.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/bin/bash -c 'echo 289c00000.dcp > /sys/bus/platform/drivers/apple-dcp/unbind && sleep 1 && echo 289c00000.dcp > /sys/bus/platform/drivers/apple-dcp/bind'

[Install]
WantedBy=sleep.target
